body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: rgb(139, 45, 45);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 4px 0;
  background-color: #f9f9f9;
}

button {
  background-color: #5e94ff;
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  margin-left: 4px;
}

button:hover {
  background-color: #7b00ff;
}

.completed {
  background-color: #c0ffc0;
  text-decoration: line-through overline underline; 
}